body {
	background-image: url("back_patter.png")
}

h1 {
    color: darkslategray;
    text-align: center;
}

#input {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

#output {
	display: none;
	text-align: center;

}
